Rosmann Store Sales Prediction - Kaggle

In [5]:
import pandas as pd
import numpy as np

from sklearn.pipeline import Pipeline
from sklearn.preprocessing import MinMaxScaler, StandardScaler, Normalizer
import category_encoders as ce

from sklearn.metrics import mean_squared_error
from sklearn.model_selection import cross_val_score, train_test_split

from catboost import CatBoostRegressor
from sklearn.ensemble import RandomForestRegressor

## Load Data

In [7]:
train = pd.read_csv("data/train.csv")
test = pd.read_csv("data/test.csv")
store = pd.read_csv("data/store.csv")

C:\Users\Vivek.ananthan\Anaconda3\envs\deepcpu\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
train.describe().T

,count,mean,std,min,25%,50%,75%,max
Store,1017209.0,558.429727,321.908651,1.0,280.0,558.0,838.0,1115.0
DayOfWeek,1017209.0,3.998341,1.997391,1.0,2.0,4.0,6.0,7.0
Sales,1017209.0,5773.818972,3849.926175,0.0,3727.0,5744.0,7856.0,41551.0
Customers,1017209.0,633.145946,464.411734,0.0,405.0,609.0,837.0,7388.0
Open,1017209.0,0.830107,0.375539,0.0,1.0,1.0,1.0,1.0
Promo,1017209.0,0.381515,0.485759,0.0,0.0,0.0,1.0,1.0
SchoolHoliday,1017209.0,0.178647,0.383056,0.0,0.0,0.0,0.0,1.0

In [11]:
store.describe().T

,count,mean,std,min,25%,50%,75%,max
Store,1115.0,558.000000,322.017080,1.0,279.5,558.0,836.5,1115.0
CompetitionDistance,1112.0,5404.901079,7663.174720,20.0,717.5,2325.0,6882.5,75860.0
CompetitionOpenSinceMonth,761.0,7.224704,3.212348,1.0,4.0,8.0,10.0,12.0
CompetitionOpenSinceYear,761.0,2008.668857,6.195983,1900.0,2006.0,2010.0,2013.0,2015.0
Promo2,1115.0,0.512108,0.500078,0.0,0.0,1.0,1.0,1.0
Promo2SinceWeek,571.0,23.595447,14.141984,1.0,13.0,22.0,37.0,50.0
Promo2SinceYear,571.0,2011.763573,1.674935,2009.0,2011.0,2012.0,2013.0,2015.0

Store in train but not in store

In [13]:
set(train.Store) - set(store.Store)

set()

In [15]:
set(test.Store) - set(store.Store)

set()

Check for missing Values

In [17]:
train.isna().sum()

Store            0
DayOfWeek        0
Date             0
Sales            0
Customers        0
Open             0
Promo            0
StateHoliday     0
SchoolHoliday    0
dtype: int64

In [19]:
test.isna().sum()

Id                0
Store             0
DayOfWeek         0
Date              0
Open             11
Promo             0
StateHoliday      0
SchoolHoliday     0
dtype: int64

In [21]:
train.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [23]:
store.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

In [25]:
store.isna().sum()

Store                          0
StoreType                      0
Assortment                     0
CompetitionDistance            0
CompetitionOpenSinceMonth      0
CompetitionOpenSinceYear     354
Promo2                         0
Promo2SinceWeek              544
Promo2SinceYear              544
PromoInterval                544
dtype: int64

In [27]:
#CompetitionOpenSinceMonth    
store.CompetitionOpenSinceMonth.unique()
store.CompetitionOpenSinceMonth.fillna(0,inplace=True)
store.CompetitionDistance.fillna(-1,inplace=True)

In [29]:
display(store.CompetitionOpenSinceYear.unique())
store.CompetitionOpenSinceYear.fillna(0,inplace=True)

array([2008., 2007., 2006., 2009., 2015., 2013., 2014., 2000., 2011.,
          0., 2010., 2005., 1999., 2003., 2012., 2004., 2002., 1961.,
       1995., 2001., 1990., 1994., 1900., 1998.])

In [31]:
store.Promo2SinceWeek.fillna(-1,inplace=True)
store.Promo2SinceYear.fillna(0,inplace=True)
store.PromoInterval.fillna(0,inplace=True)

In [33]:
trains = train.merge(store,on='Store',how='left')
tests = test.merge(store, on = 'Store',how='left')

print(train.shape)
print(test.shape)

(1017209, 9)
(41088, 8)

In [35]:
tests.isna().sum()

Id                            0
Store                         0
DayOfWeek                     0
Date                          0
Open                         11
Promo                         0
StateHoliday                  0
SchoolHoliday                 0
StoreType                     0
Assortment                    0
CompetitionDistance           0
CompetitionOpenSinceMonth     0
CompetitionOpenSinceYear      0
Promo2                        0
Promo2SinceWeek               0
Promo2SinceYear               0
PromoInterval                 0
dtype: int64

In [37]:
X = trains.drop('Sales',axis=1)
y = trains.Sales

In [39]:
X.head()

,Store,DayOfWeek,Date,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,5,2015-07-31,555,1,1,0,1,c,a,1270.0,9.0,2008.0,0,-1.0,0.0,0
1,2,5,2015-07-31,625,1,1,0,1,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,5,2015-07-31,821,1,1,0,1,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,5,2015-07-31,1498,1,1,0,1,c,c,620.0,9.0,2009.0,0,-1.0,0.0,0
4,5,5,2015-07-31,559,1,1,0,1,a,a,29910.0,4.0,2015.0,0,-1.0,0.0,0

In [41]:
X.columns.to_list()

['Store',
 'DayOfWeek',
 'Customers',
 'Open',
 'Promo',
 'StateHoliday',
 'SchoolHoliday',
 'StoreType',
 'Assortment',
 'CompetitionDistance',
 'CompetitionOpenSinceMonth',
 'CompetitionOpenSinceYear',
 'Promo2',
 'Promo2SinceWeek',
 'Promo2SinceYear',
 'PromoInterval']

In [43]:
X.drop('Date',axis=1,inplace=True)

KeyError: "['Date'] not found in axis"

In [46]:
cat_cols = ['Store',
 'DayOfWeek',
 'Customers',
 'Open',
 'Promo',
 'StateHoliday',
 'SchoolHoliday',
 'StoreType',
 'Assortment',
 'Promo2',
 'PromoInterval']

In [47]:
scoring = 'neg_mean_absolute_percentage_error'

In [48]:
cat_idx = []
for col in cat_cols:
    cat_idx.append(X.columns.get_loc(col))

print(cat_idx)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 12, 15]

In [49]:
scaler = MinMaxScaler()
encoder = ce.CatBoostEncoder(cols=cat_cols)

In [50]:

cat_pipe = Pipeline([('scaler',MinMaxScaler),
                     ('model',CatBoostRegressor(verbose=100,n_estimators=300))])

In [51]:
rf_pipe = Pipeline([
    ('encoder',encoder),
    ('scaler',scaler),
    ('model',RandomForestRegressor(n_estimators=300))
])

In [52]:
cv_score = cross_val_score(rf_pipe,X,y,cv=3)

In [54]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1017209 entries, 0 to 1017208
Data columns (total 16 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   Store                      1017209 non-null  int64
 1   DayOfWeek                  1017209 non-null  int64
 2   Customers                  1017209 non-null  int64
 3   Open                       1017209 non-null  int64
 4   Promo                      1017209 non-null  int64
 5   StateHoliday               1017209 non-null  object
 6   SchoolHoliday              1017209 non-null  int64
 7   StoreType                  1017209 non-null  object
 8   Assortment                 1017209 non-null  object
 9   CompetitionDistance        1017209 non-null  float64
 10  CompetitionOpenSinceMonth  1017209 non-null  float64
 11  CompetitionOpenSinceYear   1017209 non-null  float64
 12  Promo2                     1017209 non-null  int64
 13  Promo2SinceWeek            1017209 non-null  float64
 14  Promo2SinceYear            1017209 non-null  float64
 15  PromoInterval              1017209 non-null  object
dtypes: float64(5), int64(7), object(4)
memory usage: 131.9+ MB